.main {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main h1 {
  font-size: min(10em, 20vw);
  text-align: center;
}