.container {
  max-width: 800px;
  margin: 0 auto;
}

.image,
.video {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.video::after {
  content: "";
  display: block;
  padding-bottom: 56.25%;
}

.image img,
.video iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.image::after {
  content: "";
  display: block;
  padding-bottom: 74.87%;
}


.image button {
  position: absolute;
  inset: 0;
  z-index: 1;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}


/* .image button > span {
  content: "";
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);

  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff;
  transition: .3s opacity ease-in-out;
} */

/* .image button span span { 
  border-left: 12px solid #000;
  border-bottom: 7px solid transparent;
  border-top: 7px solid transparent;

  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image button:hover >span {
  opacity: .8;
} */

/* @media screen and (min-width: 769px) {
  .image button > span {
    width: 64px;
    height: 64px;
  }

  .image button span span {
    border-left: 16px solid #000;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
  }
} */